.bar {
  background: #ddd;
  border-radius: 20px;
  overflow: hidden;
  margin: 10px 0;
}

#confBar {
  background: #e74c3c;
  color: white;
  padding: 6px;
  width: 0%;
  text-align: center;
}
